.git
.github
.deno
node_modules
dist
build
public
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp

trendpublish.config.ts
config/trendpublish.config.ts

src/temp
temp
tmp
data/temp

*.log
*.tmp
*.bak
*.exe
*-mac-x64
*-mac-arm64
*-linux-x64
*-linux-arm64
.DS_Store
